.setting-content-one-main-con {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.setting-content-one {
  height: auto;
}

.setting-content-one-element-form {
  width: 300px;
  height: 275px;
  padding: 20px;
  border-radius: 12px;
  background-color: transparent;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.26), -8px -8px 16px rgba(255, 255, 255, 0.7);
}

.setting-content-element-title {
  font-size: 17px;
  margin: 3px;
  margin-top: 15px;
  margin-left: 0;
}

.setting-select {
  width: 95px;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  border: solid 1px;
  font-size: 12px;
  font-weight: bold;
}

.setting-content-inputbox-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3px;
}

.setting-submit-con {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.setting-first-option {
  margin-top: 0;
}

.setting-test-switch {
  position: relative;
  width: 45px;
  height: 20px;
  border-radius: 12px;
  border: solid 1px;
  background: rgba(255, 0, 0, 0.2196078431);
  cursor: pointer;
}

.setting-test-switch-ball {
  position: absolute;
  background: #E91E63;
  width: 15px;
  height: 15px;
  top: 2.5px;
  left: 5px;
  border-radius: 50%;
}

.move-turn-on-switch {
  background: rgba(103, 233, 30, 0.231372549);
}

.move-turn-on-switch-ball {
  background-color: #5ac21f;
  transform: translateX(20px);
}

/* Add on by style package */
@media (max-width: 700px) {
  .setting-title {
    font-size: 30px;
    margin-bottom: 0px;
  }
  .setting-content-one-element-form {
    padding: 10px;
    width: 220px;
  }
  .setting-content-element-title {
    font-size: 14px;
  }
  .setting-content-inputbox-con label {
    font-size: 12px;
  }
  .setting-test-switch {
    width: 40px;
    height: 15px;
  }
  .setting-test-switch-ball {
    width: 10px;
    height: 10px;
  }
  .setting-select {
    width: 65px;
    font-size: 8px;
    padding-left: 3px;
  }
}